SQL queries in PG admin
SELECT first_name || ' ' || last_name AS full_name
FROM actor;



Select upper(first_name || ' ' || last_name) from actor where last_name like '%LI%' ;

SELECT last_name, COUNT(*) AS namecount
FROM actor
GROUP BY last_name;



Select staff.first_name,staff.last_name,address.address,address.address2,address.district,
address.city_id,address.postal_code,sum(payment.amount)
from staff
join address on staff.address_id=address.address_id
join payment on staff.staff_id=payment.staff_id 
Group by staff.first_name,staff.last_name,address.address,address.address2,address.district,
address.city_id,address.postal_code;

Select film.title,actor.first_name,actor.last_name
from film_actor
join film on film_actor.film_id= film.film_id
join actor on film_actor.actor_id=actor.actor_id
where title ='ALONE TRIP';

SELECT customer_id, SUM(amount) as total_amount
FROM payment
GROUP BY customer_id
ORDER BY total_amount DESC;


Select customer.store_id, count(rental_id) as rental_count from customer
join rental on customer.customer_id= rental.customer_id 
join inventory on rental.inventory_id =inventory.inventory_id
join film_category on inventory.film_id = film_category.film_id 
join category on film_category.category_id =category.category_id where  category.name= 'Family' 
group by customer.store_id  order by rental_count desc ;